@model IEnumerable<AttendanceSystem.Models.Attendances>

@using Newtonsoft.Json;
@using AttendanceSystem.Models;
@using System;
@using System.Globalization;

@{
    ViewBag.Title = "AttendancesViews";
    Users userInfo = JsonConvert.DeserializeObject<Users>(User.Identity.Name);
}

<h2>Attendances</h2>

<table class="table">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.DateOfDay)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ComingTime)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LeaveTime)
        </th>
        @{ if (userInfo != null)
                        {


                            if (userInfo.UserRole == "Admin")
                            {
            <th></th> }


                        } }


    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.DateOfDay)
    </td>

    <td>
        @item.ComingTime



    </td>

    <td>
        @item.LeaveTime


    </td>


    @{ if (userInfo != null)
                        {


                            if (userInfo.UserRole == "Admin")
                            {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Attendance_ID }) |

            @Html.ActionLink("Delete", "Delete", new { id = item.Attendance_ID })
        </td> }


                        } }


</tr>}

</table>



@helper DisplayTime(string time)
{DateTime dt = Convert.ToDateTime(time);


    <span>
        @dt.TimeOfDay.ToString()

    </span>


}